<div>
    <div class="card mx-auto my-5" style="max-width: 70%">
        <div class="row g-0">
            <div class="col-md-4 p-4 d-flex justify-content-center align-items-center">
                <img src="/images/logo.png" class="img-fluid rounded-start" alt="">
            </div>
            <div class="col-md-8 d-flex justify-content-center align-items-center border-start border-info">
                <div class="card-body">
                    <div class="row mb-5">
                        <h5 class="col-12 card-title mb-0 fs-3 text-center"> Register as a Tailor? </h5>
                    </div>
                    <div class="row mb-5 justify-content-center">
                        <form method="post" class="d-grid col-10">
                            <button type="submit" class="blue-btn-full">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>