
 <link rel="stylesheet" href="/styles/admin.css">

<div id="sideNav" class="p-2 position-fixed bg-dark rounded-end h-100 text-white">
  <nav class="nav flex-column navbar-dark fs-4">
    <button type="button" onclick="toggleNav()" class="btn btn-dark border-0 fs-4 mt-2">
      <i class="bi bi-list"></i>
    </button>
    
    <a href="" class="nav-link link-light rounded my-2 active">
      <i class=""></i>
      <span class="navText d-none align-self-end mx-2"></span>
    </a>
    
    <ul class="navText d-none list-unstyled ps-5">
      <li><a class="nav-link link-light rounded ms-0 fs-5" href="/admin/reports/archives">Archives</a></li>

    </ul>
    

    
    <a class="nav-link link-light rounded" href="dashboard">
      <i class="bi bi-grid"></i>
      <span class="navText d-none">Dashboard</span>
    </a>
    <a class="nav-link link-light rounded" href="admin/UserManagement">
      <i class="bi bi-people-fill"></i>
      <span class="navText d-none"></span>
    </a>
    <a class="nav-link link-light rounded" href="admin/Inventory">
      <i class="bi bi-boxes"></i>
      <span class="navText d-inline d-none"></span>
    </a>
    <a class="nav-link link-light rounded" href="/admin/ReportsManagement">
      <i class="bi bi-graph-up"></i>
      <span class="navText d-none">Ticket Reports</span>
    </a>
    <a class="nav-link link-light rounded" href="/admin/FeedbacksMangement">
      <i class="bi bi-pencil-square"></i>
      <span class="navText d-none">Feedbacks</span>
    </a>
    
  </nav>
</div>

<div class="container-fluid home shadow-sm d-flex align-items-center">
  <nav class="nav navbar-light d-flex align-items-center flex-fill">
    
    <a id='back-link' class="fs-2 ms-3" href=""><i class="bi bi-arrow-left-short"></i></a>
    
    <ol class="ms-4 breadcrumb m-0 fs-5">
      
      <li class="my-auto breadcrumb-item active" aria-current="page">
        
        
      </li>
      
    </ol>
    <div class="dropdown ms-auto">
      <button class="btn btn-white" type="button" id="notificationdropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fs-5 position-relative bi bi-bell">
        </i>
      </button>
      <ul class="dropdown-menu p-0 overflow-auto" aria-labelledby="notificationdropdown">
        
        <li>
          <a class="position-relative py-2 dropdown-item notification-link" href="">
            <p class="m-0 text-wrap"></span></p>
            <p class="m-0 text-wrap notification-body"></p>
            
              <span class="position-absolute end-0 top-50 translate-middle p-1 bg-danger border border-light rounded-circle">
            
          </a>
        </li>
        
        <hr class="m-0">
        
        No Notifications to show
       
      </ul>
      
    </div>
  </nav>
</div>


<nav class="sidebars close shadow-sm">
    <header>
        <div class="image-text">
            <div class="image">
                <a href="/admin">
                    <img src="/images/logo.png">
                </a>
            </div>

            <div class="text logo-text">
                <span class="name">{{user.name}}</span>
                <span class="profession">Threads in Time</span>
            </div>
            <a class="stretched-link" href="/admin/adminProfile"></a>
        </div>
        <i class='bx bx-menu toggle'></i>
    </header>
    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                <a class="nav-link link-light rounded" href="dashboard">
            <i class="bi bi-grid"></i>
            <span class="navText d-none">Dashboard</span>
            </a>
            <a class="nav-link link-light rounded" href="admin/UserManagement">
            <i class="bi bi-people-fill"></i>
            <span class="navText d-none"></span>
            </a>
            <a class="nav-link link-light rounded" href="admin/Inventory">
            <i class="bi bi-boxes"></i>
            <span class="navText d-inline d-none"></span>
            </a>
            <a class="nav-link link-light rounded" href="/admin/ReportsManagement">
            <i class="bi bi-graph-up"></i>
            <span class="navText d-none">Ticket Reports</span>
            </a>
            <a class="nav-link link-light rounded" href="/admin/FeedbacksMangement">
            <i class="bi bi-pencil-square"></i>
            <span class="navText d-none">Feedbacks</span>
            </a>
                
                
                <li class="nav-link position-relative">
                    <a href="" class="active">
                        <i class='icon'></i>
                        <span class="text nav-text"></span>
                    </a>
                </li>
            
               
            </ul>
        </div>

        <div class="bottom-content">
            <li class="">
                <a href="/logout">
                    <i class='bx bx-log-out icon' ></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>

            <li class="mode">
                <div class="sun-moon">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark mode</span>

                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>
</nav>

<script>
    const body = document.querySelector('body'),
    sidebar = body.querySelector('nav'),
    toggle = body.querySelector(".toggle"),
    modeSwitch = body.querySelector(".toggle-switch"),
    modeText = body.querySelector(".mode-text");


toggle.addEventListener("click" , () =>{
sidebar.classList.toggle("close");
})


modeSwitch.addEventListener("click" , () =>{
body.classList.toggle("dark");

if(body.classList.contains("dark")){
    modeText.innerText = "Light mode";
}else{
    modeText.innerText = "Dark mode";
    
}
});
</script>