<div class="container-fluid home shadow-sm d-flex align-items-center">
  <nav class="nav navbar-light d-flex align-items-center flex-fill" id="breadcrumb">

    <a id='back-link' class="fs-2 ms-3" href=""><i class="bi bi-arrow-left-short"></i></a>

    <ol class="ms-4 breadcrumb m-0 fs-5">

      <li class="my-auto breadcrumb-item active" aria-current="page">


      </li>

    </ol>
    <ul class="navbar-nav d-flex flex-row align-items-center ms-auto" id="breadcrumb-links">
      <li class="nav-item dropdown">
        <a class="nav-link mx-3" role="button" id="LiveChatnotificationdropdown" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="bi bi-headset fs-5 position-relative"></i>
        </a>
        <ul class="dropdown-menu p-0 overflow-auto" aria-labelledby="LiveChatnotificationdropdown" id="LiveChatnotifications" style="min-width: 250px;">
          No Live Chat Support to show
        </ul>

      </li>
      <div class="vr align-self-center" style="min-height: 1.8em;"></div>
      <li class="nav-item dropdown">
        <a class="nav-link mx-3" role="button" id="notificationdropdown" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="fs-5 position-relative bi bi-bell">
          </i>
        </a>
        <ul class="dropdown-menu p-0 overflow-auto" aria-labelledby="notificationdropdown" id="notifications">
          {{#if false}}
          <li>
            <a class="position-relative py-2 dropdown-item notification-link" href="">
              <p class="m-0 text-wrap">we</p>
              <p class="m-0 text-wrap notification-body">ew</p>

              <span
                class="position-absolute end-0 top-50 translate-middle p-1 bg-danger border border-light rounded-circle">
              </span>
            </a>
          </li>

          <hr class="m-0">
          {{else}}
          No Notifications to show
          {{/if}}
        </ul>

      </li>
    </ul>
  </nav>
</div>