



    
        <!-- Begin Page Content -->

               
            
        <!-- End of Content Wrapper -->

    <!-- End of Page Wrapper -->


    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top" style="margin-bottom:70px; margin-right:10px;">
        <i class="fas fa-angle-up"></i>
    </a>

    
{{!-- <!--   Bot Modal     -->
        <div class="modal fade" style="margin-top:100px;" id="botModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chatty</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Our Helper bot to help you better navigate through our site. </p>
                    <p>Type in the textbox something to start chatting!</p>
                    <hr>
                    <div class="container-fluid">
                    <div class="row justify-content-md-center">
                    <div class="col-md-auto">
                      <iframe width="350" height="430" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/221170f4-72db-467a-a988-8de654e227fe"></iframe>
                    </div>
                  </div>
                   <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>

                    </div>
                </div>

            </div>
        </div>
    </div> --}}


    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.slim.min.js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>


    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.js"></script>

        <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>


    <!-- Charts Page level custom scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>
    <script src="/js/demo/chart-bar-demo.js"></script>
    
    <!--Tables Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
   
    <!-- Tables Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>
   


    <!-- Add Item Script -->
    <script src="/js/Additem.js"></script>
</body>

</html>