<!--About Us Section-->
<div class="site-section cta-big-image" id="about-section">
      <div class="container">
        <a href="/customerservice">Back to Topics</a>
        <div class="row mb-5 justify-content-center">
          <div class="col-md-8 text-center">
            <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">My Account</h2>
            <p class="lead" data-aos="fade-up" data-aos-delay="100">Start Your Fashion Journey Here With Us At TIT</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src="images/BankingImages/img_5.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">

            <h3 class="text-black mb-4">Having Trouble Managing Your Account? We are here to Help</h3>

            <p>Some of Our Customers tend to have issues setting up their account in the beginning such as setting up</p>
            <p>their account particulars, editing their particulars, changing their password or they simply forgot their password</p>
            <p>We prepared some frequently asked questions by our Users and we hope they answer your queries</p>
            
          </div>
        </div>

      </div>
    </div>

<br>
<!--How It Works Section-->


<br>
<br>
<!--FAQ Secion-->
  <section class="site-section bg-light" id="pricing-section">
      <div class="container">
        <div class="row site-section" id="faq-section">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title">Frequently Ask Questions</h2>
            <br>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">

            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-black h4 mb-4">How do I sign up for an account?</h3>
            <p>Click on the Sign up button on the top right. Enter your choice of Username, Password and email address. Tap on "Create my Account!" and your ready!</p>
            </div>

            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
              <h3 class="text-black h4 mb-4">How do I change my Username/Password?</h3>
              <p>Sign in to your account and click on "My profile". Then tap edit user and make the necessary changes, before clicking on "Save Changes" to save your edits.</p>
            </div>

            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-black h4 mb-4">What do I do if I forgot my password?</h3>
            <p>Click on the "Forgot Password" option and enter your email address, a link to reset your password will be sent to you via email.</p>
            </div>

            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
              <h3 class="text-black h4 mb-4">What do I do if I forgot my Username?</h3>
              <p>Click on the "Forgot Username" option and enter your email address, a link to reset your Username will be sent to you via email.</p>
            </div>
          </div>
          <div class="col-lg-6">

            

          </div>
        </div>
      </div>
    </section>
  </div>
</div>