<link rel="stylesheet" href="css/responsive.css">
<link rel="stylesheet" href="css/ui.css">
<link rel="stylesheet" href="../styles/qna.css">
<section class="section-content padding-y bg">
<div class="container">
  <button onclick="location.href = '/customerservice'" class="action-button-fixed">Back to Topics</button>
  <br>
  <br>
	<h1>Other Support</h1>

<!-- ============================ COMPONENT BOOTSTRAP CARD WITH  IMG ================================= -->
	<div class="row">
		<div class="col-md-4">
			<div class="card bg-dark">
			  <img src="images/banners/banner1.jpg" class="card-img opacity">
			  <div class="card-img-overlay text-white">
			    <h5 class="card-title">Give us your Feedback</h5>
			    <p class="card-text">Like Our Website? Give Us Some Feedback so we can continue to improve</p>
			    <a href="/feedback" class="btn btn-light">Discover</a>
			  </div>
			</div>
		</div> <!-- col.// -->
		<div class="col-md-4">
			<div class="card bg-dark">
			  <img src="images/banners/banner2.jpg" class="card-img opacity">
			  <div class="card-img-overlay text-white">
			    <h5 class="card-title">Send Us a Ticket</h5>
			    <p class="card-text">Need an issue resolved? Send Us a Ticket Our Staff Will be respond in 3 to 7 working days</p>
			    <a href="/tickets" class="btn btn-light">Discover</a>
			  </div>
			</div>
		</div> <!-- col.// -->
        <div class="col-md-4">
			<div class="card bg-dark">
			  <img src="images/banners/banner3.jpg" class="card-img opacity">
			  <div class="card-img-overlay text-white">
			    <h5 class="card-title">Community FAQ</h5>
			    <p class="card-text">Have an issue on our Website? Report it to our community!</p>
			    <a href="/CommunityFAQPage" class="btn btn-light">Discover</a>
			  </div>
			</div>
		</div> <!-- col.// -->
	</div> <!-- row.// -->
		
<!-- ============================ COMPONENTBOOTSTRAP CARD IMG  END .// ================================= -->
</div>
</section>
<!-- ========================= FOOTER ========================= -->
{{!-- <footer class="section-footer bg-secondary">
	<div class="container">


		<section class="footer-bottom text-center">

				<p class="text-white">Contact Customer Service: +65 7896 5632</p>
				<p class="text-grey"> &copy 2020 Threads In Time, All rights reserved </p>
				<br>
		</section>
	</div><!-- //container -->
</footer> --}}

<style>
	.opacity {
		opacity: 0.55;
	}
</style>
