<link rel="stylesheet" href="../styles/qna.css">
<!--About Us Section-->
<div class="site-section cta-big-image" id="about-section">
      <div class="container">
        <button onclick="location.href = '/customerservice'" class="action-button-fixed">Back to Topics</button>
        <div class="row mb-5 justify-content-center">
          <div class="col-md-8 text-center">
            <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Payment and Shipping</h2>
            <p class="lead" data-aos="fade-up" data-aos-delay="100">Start Your Fashion Journey Here With Us At TIT</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src="images/BankingImages/img_2.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">

            <h3 class="text-black mb-4">Our Stripe Authentication</h3>

            <p>Struggling to Find The Clothes You want? Well Here at TIT we are here to help</p>
            <p>We have thousands of different unique clothing vendors on our online store, We are confident you will find the wears you need here at TIT</p>
            
          </div>
        </div>

      </div>
    </div>

<br>
<!--How It Works Section-->

<br>
<br>
<!--FAQ Secion-->
  <section class="site-section bg-light" id="pricing-section">
      <div class="container">
        <div class="row site-section" id="faq-section">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title">Frequently Ask Questions</h2>
            <br>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">

            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-black h4 mb-4">How do I purchase an item I want?</h3>
            <p>Click on the "Add to Cart" button and the item will be added to your shopping cart, ready for checkout!</p>
            </div>

            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
              <h3 class="text-black h4 mb-4">What payment methods are accepted?</h3>
              <p>Only credit and debit cards are accepted.</p>
            </div>

            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-black h4 mb-4">When will my item arrive?</h3>
            <p>For more information about your purchases, please click on the "Tracking" tab -------------</p>
            </div>

            

          </div>
        </div>
      </div>
    </section>
  </div>
</div>