<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">

    {{>_links}}

    <link rel="stylesheet" href="/styles/admin.css">
    <link rel="stylesheet" href="/styles/admin_navbar.css">

    <title>Threads In Time</title>

</head>

<body>


    {{>breadcrumb}}
    {{>_adminNavBar}}
    <div class="container-fluid mt-2 home">
        {{>flashmsg}}
        {{{body}}}
        <br>
    </div>


    {{>_scripts}}
    <script>
        socket.on('request:notif', (data) => {
            if (data) {
                if ($('#notifications').find('li').length == 0) {
                    $('#notifications').text('')
                }
                const x = ['<li>',
                    `<a class="position-relative py-2 dropdown-item notification-link" href="${data.url}">`,
                    `<p class="m-0 text-wrap">${data.title}</p>`,
                    `<p class="m-0 text-wrap notification-body">${data.body}</p>`,
                    `<span class="position-absolute end-0 top-50 translate-middle p-1 bg-danger border border-light rounded-circle"></span>`,
                    `</a>`,
                    `</li>`,
                    `<hr class="m-0">`
                ]
                $('#notifications').prepend(x.join(''))
            }
        })

    </script>
</body>

</html>