<!-- Inventory Stock Bar Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Inventory Stocks</h6>
                </div>
                <div class="card-body">
                    <div class="chart-bar">
                        <canvas id="InventoryReportBarchart"></canvas>
                    </div>
                    <hr>
                    <div class="text-center">
                        <h5 class="small"><b>Inventory Stocks</b></h5>
                        <h4 class="small font-weight-bold text-primary">Stock Of Your Current Products</h4>
                    
                </div>
            </div>    
<script src="/js/demo/chart-area-demo.js"></script>
<script src="/js/demo/chart-bar-demo.js"></script>
<script src="/js/demo/chart-pie-demo.js"></script>
<script src="/js/sb-admin-2.js"></script>
<script src="/js/chart.js/Chart.min.js"></script>
