<div class="blockcontent">

<!-- Header Block -->
<div class="container-fluid">

<div class="HeaderContent">
  <h2>Welcome to Threads in Times Product services!</h2>
  <h5>Good Afternoon! <span style="font-weight:bolder">{{user.name}}!</span></h5>
</div>

<!-- Transfer Funds/ Deposit Page -->
<div id="TransferModalContainer">
  <a href="/seller/addProduct" class="TransferModalContainer__Button">
    <h1 class="ContainerWord" id="TransferContainerWord">Add Products</h1>
    <div class="InnerButtonContainer">
      <div class="TransferModalContainer__inner">
        <img class="img1" src="/img/transaction_icon.png" alt="Icon Goes here!">
      </div>
    </div>
  </a>
</div>
<br>

<!-- Manage Products Page -->
<div id="ShoppingModalContainer">
  <a href="/seller/manageProducts" class="TransferModalContainer__Button">
    <h1 class="ContainerWord" id="ShoppingContainerWord">Manage Products</h1>
    <div class="InnerButtonContainer">
      <div class="TransferModalContainer__inner">
        <img class="img2" src="/image/shopping_cart.png" alt="Icon Goes here!">
      </div>
    </div>
  </a>
</div>
<br>

<!-- Dashboard Page -->
<div id="DashboardModalContainer">
  <a href="" class="TransferModalContainer__Button">
    <h1 class="ContainerWord" id="DashboardContainerWord">Reports</h1>
    <div class="InnerButtonContainer">
      <div class="TransferModalContainer__inner">
        <img class="img4" src="/img/Dashboard_Icon.png" alt="Icon Goes here!">
      </div>
    </div>
  </a>
</div>
<br>

<!-- Profile Settings Page -->
<div id="ProfileModalContainer">
  <a href="/seller/sellerProfile" class="TransferModalContainer__Button">
    <h1 class="ContainerWord" id="ProfileContainerWord">Your Profile</h1>
    <div class="InnerButtonContainer">
      <div class="TransferModalContainer__inner">
        <img class="img3" src="/img/profile_icon.png" alt="Icon Goes here!">
      </div>
    </div>
  </a>
</div>
<br>


<!--Banking Solutions Section-->

          

        </div>
      </div>
    </div>
  </div>
