<link rel="stylesheet" href="/styles/test.css">
<link rel="stylesheet" href="/styles/multistep-form.css">
<!-- MultiStep Form -->
<div class="row multi-form">
    <div class="container col-12 col-md-9">
        <form id="msform" class="m-auto" method="post" action="/checkout">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">Personal Details</li>
                <li>Shipping Address</li>
                <li>Pay</li>
            </ul>
            <!-- fieldsets -->
            <fieldset>
                <h2 class="fs-title">Personal Details</h2>
                <h3 class="fs-subtitle">Fill in your personal details</h3>
                <input type="text" id="fname" name="fname" placeholder="Full Name" value="{{user.name}}" required />
                <input type="text" id="email" name="email" placeholder="Email" value="{{user.email}}" required />
                <input type="text" id="phone" name="phone" placeholder="Phone" value="{{user.phoneNumber}}" required />
                <input type="button" name="next" class="next action-button" value="Next" />
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Shipping Address</h2>
                <h3 class="fs-subtitle">Fill in your shipping details</h3>
                <input type="text" id="address" name="address" placeholder="Address" required />
                <input type="text" id="unit_number" name="unit-number" placeholder="Unit Number" required />
                <input type="text" id="postalcode" name="postal-code" placeholder="Postal Code" required />
                <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                <input type="button" name="next" class="next action-button" value="Pay" onclick="checkoutcheck()" />
            </fieldset>
        </form>
    </div>
    <div class="container col-12 col-md-3 total-card">
        <div class="card summary-card">
            <div class="cart-header card-header">
                <p>Order Summary</p>
            </div>

            <div class="cart-body">
                <div class="total  d-flex">
                    <p>Grand Total</p>
                    <p class="cart-gtotal ms-auto">S${{cart.cartTotal}}</p>
                </div>
                <div class="shipping d-flex">
                    <p>Shipping</p>
                    <p class="shipping-fee ms-auto">Calculated at Payment</p>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" name="cancel" class="cancel w-100" value="Cancel"
                    onclick="history.back()">Cancel</button>
            </div>
        </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        var subtotal = localStorage.getItem("total")
        $(".cart-gtotal").text("S$" + subtotal)
    })
</script>