
<style>
  *{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

</style>
<div class="container-fluid" style="margin-top: 30px;max-width: 800px;">
    <a href="otherSupport">Back to Other Support</a>
    <br>
    <br>
<div class="card mx-auto row bg-gradient-info text-black shadow-lg" style=" max-width: 800px; text-align: center; margin-bottom:20px;">
    
    <h2 style="text-align: center; padding: 20px;">Send Us Some Feedback</h2>
</div>
<section class="section-content padding-y ">

    
<section class="section-content padding-y ">
    <!-- ============================ COMPONENT FEEDBACK  ================================= -->
        <div class="card mx-auto row" style="max-width: 800px; background-color:#F5F5F5;">
          <div class="card-body">
          <h4 class="card-title mb-4">Send Us Some Feedback!</h4>
          <form method="POST" action="/feedback">
            <div class="form-group">


            <div class="form-group">
                <label for="">Title</label>
                <input type="text" name="title" class="form-control" placeholder="Enter Title" required>
            </div> <!-- form-group end.// -->
                <br>
            <div class="form-group">
                <label for="">Favourite Thing</label>
                <input type="text" name="favouriteThing" class="form-control" placeholder="Enter Your Favourite Thing about our Website" required>
            </div> <!-- form-group end.// -->
                <br>
            <div class="form-group">
                <label for="">Least Favourite Thing</label>
                <input type="text" name="leastFavouriteThing" class="form-control" placeholder="Enter Your Favourite Least Thing about our Website" required>
            </div> <!-- form-group end.// -->
              <br>
            <div class="form-group">
                <label for="text">How Can We Improve?</label>
                <br>
                <textarea name="description" id="description" cols="90" rows="10" class="form-control form-control-user" placeholder="Enter How We Can Improve to better Serve You"></textarea>
            </div>
            <div class="form-group">
                <label for="text">Additional Remarks</label>
                <br>
                <textarea name="remarks" id="remarks" cols="90" rows="10" class="form-control form-control-user" placeholder="Enter Additional Remarks"></textarea>
            </div>
            <div class="rate" style="margin-bottom: 30px;">
              <span style="position: relative; top: 10px;font-size: 17px;"><b>Rating:</b></span>
              <input type="radio" id="star5" name="rating" value="5" />
              <label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="rating" value="4" />
              <label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="rating" value="3" />
              <label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="rating" value="2" />
              <label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="rating" value="1" />
              <label for="star1" title="text">1 star</label>
            </div>
            </div>

            <button type="submit" class="btn btn-primary" style="margin-left:90%; padding:5px 20px" >Send</button>
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    <!-- ============================ COMPONENT FEEDBACK END.// ================================= -->
    </section>
</div>