<link rel="stylesheet" href="styles/homepage.css">
<img src="images/banner.jpg" alt="placeholder" id="banner" width="90%" class="img-responsive mt-5" >
<script src="scripts/cart.js"  async></script> 
<form method="post" action="/flash"> <button type="submit" class="btn btn-primary">Send Flash</button> </form>