<link rel="stylesheet" href="static/styles/myorder.css">
<h1>Past Orders</h1>

<div class="container">
    <div class="row mt-3">
        {{!-- {% for order in orders_list %} --}}
        {{#each orders}}
        <div class="col-12 col-xs-12 col-md-6 ">
            <div class="card mt-3">
                <div class="card-body text-center">
                    <p>OrderID: {{this.orderUUID}}</p>
                    <p>Order Total: ${{this.orderTotal}}</p>
                    <p>Order Status: {{this.orderStatus}}</p>
                    <td><a href="/orderdetails/{{this.id}}" class="btn btn-secondary">View Order</a></td>
                </div>
            </div>
        </div>
        {{/each}}
        {{!-- {% endfor %} --}}
    </div>
</div>