<style type="text/css">
  @media only screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu{
    display: block;
  }
  .dropdown:hover .dropdown-menu-end{
    display: block;
    right: 10px;
  }
  }
  
  .bx {
    font-size: 1.5em;
  }
  
</style>
    
    <div class="container-fluid mt-2 home">
         

<div class="container-fluid">
  <div class="col-md-12 text-center">
    <p class="h3 mt-4">Vouchers</p>
    </div>

  
  <div class="container-sm my-5" style="width: 80%;">
    <div class="row align-items-center voucher">
      <div class="col">
        <a class="rounded float-start"><img src="reward_uploads/DISC1233.jpeg" alt="" width="250" height="150"></a>
      </div>
      <div class="col-6 mx-3">
        <p class="fs-5 mb-0 d-none voucher_id" style="font-weight: 600;">1</p>       
        <p class="fs-5 mb-0 vname" style="font-weight: 600;">10% OFF</p>
        <p class="text-start mb-1 vdescription">Enjoy 10% OFF with no min. spend. Valid till 30 June 2022 23:59. Applicable to products of all categories. While stocks last. Limited time only. Cannot be used in conjunction with any other offer including subscription coupons and promo codes. </p>
        <p class="fs-6 my-0 vcode" id="vcode" style="font-weight: 600;">Code: DISC1233</p>
        <p class="fs-6 my-0 spools_needed" style="font-weight: 600;">Spools Needed: 50</p>
        <p class="fs-6 my-0 vamount" style="font-weight: 600;">Discount Amount: 10%</p>
        <p class="fs-6 my-0 vexpirydate" style="font-weight: 600;">Expiry Date: 2022-06-30</p>
      </div>

      <div class="col align-self-center">
        <input type="hidden" name="voucher_id" value="">
        <button class="btn btn-sm btn-warning copy-btn">Copy Code</button>
      </div>

    </div>
      
  </div>
    
  <div class="container-sm my-5" style="width: 80%;">
    <div class="row align-items-center voucher">
      <div class="col">
        <a class="rounded float-start"><img src="reward_uploads/DISC2002.jpeg" alt="" width="250" height="150"></a>
      </div>
      <div class="col-6 mx-3">
        <p class="fs-5 mb-0 d-none voucher_id" style="font-weight: 600;">2</p>       
        <p class="fs-5 mb-0 vname" style="font-weight: 600;">20% OFF</p>
        <p class="text-start mb-1 vdescription">Enjoy 20% OFF with no min. spend. Valid till 30 June 2022 23:59. Applicable to products of all categories. While stocks last. Limited time only. Cannot be used in conjunction with any other offer including subscription coupons and promo codes. </p>
        <p class="fs-6 my-0 vcode" id="vcode" style="font-weight: 600;">Code: DISC2002</p>
        <p class="fs-6 my-0 spools_needed" style="font-weight: 600;">Spools Needed: 100</p>
        <p class="fs-6 my-0 vamount" style="font-weight: 600;">Discount Amount: 20%</p>
        <p class="fs-6 my-0 vexpirydate" style="font-weight: 600;">Expiry Date: 2022-06-30</p>
      </div>

      <div class="col align-self-center">
        <input type="hidden" name="voucher_id" value="">
        <button class="btn btn-sm btn-warning copy-btn">Copy Code</button>
      </div>

    </div>
      
  </div>
    
    
    <div class="border border-primary w-100 py-3 my-3" style="background-color: rgb(239, 241, 206);">
      <p class="text-center" style="font-size: 17px;">$1 Spent = 1 Spool</p>
    </div>
    
    
    
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script> 
    <script src="/static/scripts/data-tables.js"></script>
    <script>
        var dt = new Date();
        document.getElementById("datetime").innerHTML = (("0"+dt.getDate()).slice(-2)) +"/"+ (("0"+(dt.getMonth()+1)).slice(-2)) +"/"+ (dt.getFullYear()) +" "+ (("0"+dt.getHours()).slice(-2)) +":"+ (("0"+dt.getMinutes()).slice(-2));
    </script>
    
    <script src="/static/scripts/copycode.js"></script>
    

</div><script src="https://www.gstatic.com/dialogflow-console/fast/messenger/messenger-internal.min.js?v=4"></script><script src="https://www.gstatic.com/dialogflow-console/fast/messenger/messenger-internal.min.js?v=4"></script><script src="https://www.gstatic.com/dialogflow-console/fast/messenger/messenger-internal.min.js?v=4"></script><script src="https://www.gstatic.com/dialogflow-console/fast/messenger/messenger-internal.min.js?v=4"></script><script src="https://www.gstatic.com/dialogflow-console/fast/messenger/messenger-internal.min.js?v=4"></script><script src="https://www.gstatic.com/dialogflow-console/fast/messenger/messenger-internal.min.js?v=4"></script><script src="https://www.gstatic.com/dialogflow-console/fast/messenger/messenger-internal.min.js?v=4"></script><script src="https://www.gstatic.com/dialogflow-console/fast/messenger/messenger-internal.min.js?v=4"></script><script src="https://www.gstatic.com/dialogflow-console/fast/messenger/messenger-internal.min.js?v=4"></script><iframe src="chrome-extension://kbbdabhdfibnancpjfhlkhafgdilcnji/./html/sources.html" allow="camera" style="display: none;"></iframe><iframe src="chrome-extension://kbbdabhdfibnancpjfhlkhafgdilcnji/./html/audiosources.html" allow="microphone" style="display: none;"></iframe></body><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration></html>