
{{!-- <div class="container">
    <div class="row mt-3">
        {{!-- {% for order in orders_list %} --}}
        <div class="col-12 col-xs-12 col-md-6 ">
            <div class="card mt-3">
                <div class="card-body text-center">
                    <p>OrderID: 123123123</p>
                    <p>Order Total: $12</p>
                    <p>Order Status: pending</p>
                    <td><a href="" class="btn btn-secondary">View Order</a></td>
                </div>
            </div>
        </div>
        {{!-- {% endfor %} --}}
    </div>
</div> --}}
{{!-- <div class="accordion" id="Orders">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="6512657655665"
        aria-expanded="true" aria-controls="6512657655665">
        #6512657655665
      </button>
    </h2>
    <div id="6512657655665" class="accordion-collapse collapse show" aria-labelledby="headingOne"
      data-bs-parent="#Orders">
      <div class="accordion-body">
        <div class="row">
          <div class="col-12 col-md-9">
            <div class="card cart-card">
              <div class="card-header">
                <h2>Order Summary</h2>
              </div>

              <div class="card-body">
                <div class="cart-row">
                  <span class="cart-item cart-header cart-column">ITEM</span>
                  <span class="cart-price cart-header cart-column">PRICE</span>
                  <span class="cart-quantity cart-header cart-column">QUANTITY</span>
                </div>
                <div class="cart-items">
                  {{!-- put if statement for cart items here --}}
                </div>
              </div>

            </div>
          </div>
          <div class="container col-12 col-md-3">
            <div class="card summary-card">
              <div class="cart-header card-header">
                <p>Order Summary</p>
              </div>
              <div class="grandtotal-after d-flex">
                <p>Grand Total</p>
                <p class="cart-gt-after ms-auto">0</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingTwo">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="65723465723"
      aria-expanded="false" aria-controls="65723465723">
      #65723465723
    </button>
  </h2>
  <div id="65723465723" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#Orders">
    <div class="accordion-body">
      <div class="card cart-card">
        <div class="card-header">
          <h2>Order Summary</h2>
        </div>

        <div class="card-body">
          <div class="cart-row">
            <span class="cart-item cart-header cart-column">ITEM</span>
            <span class="cart-price cart-header cart-column">PRICE</span>
            <span class="cart-quantity cart-header cart-column">QUANTITY</span>
          </div>
          <div class="cart-items">
            {{!-- put if statement for cart items here --}}
          </div>
        </div>

      </div>
      <div class="container col-12 col-md-3">
        <div class="card summary-card">
          <div class="cart-header card-header">
            <p>Order Summary</p>
          </div>
          <div class="grandtotal-after d-flex">
            <p>Grand Total</p>
            <p class="cart-gt-after ms-auto">0</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingThree">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#4355432452453"
      aria-expanded="false" aria-controls="#4355432452453">
      #4355432452453
    </button>
  </h2>
  <div id="4355432452453" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#Orders">
    <div class="accordion-body">
      <div class="card cart-card">
        <div class="card-header">
          <h2>Order Summary</h2>
        </div>

        <div class="card-body">
          <div class="cart-row">
            <span class="cart-item cart-header cart-column">ITEM</span>
            <span class="cart-price cart-header cart-column">PRICE</span>
            <span class="cart-quantity cart-header cart-column">QUANTITY</span>
          </div>
          <div class="cart-items">
            {{!-- put if statement for cart items here --}}
          </div>
        </div>

      </div>
      <div class="container col-12 col-md-3">
        <div class="card summary-card">
          <div class="cart-header card-header">
            <p>Order Summary</p>
          </div>
          <div class="grandtotal-after d-flex">
            <p>Grand Total</p>
            <p class="cart-gt-after ms-auto">0</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> --}}
{{!-- <div class="card cart-card">
  <div class="card-header">
    <h2>Order Summary</h2>
  </div>

  <div class="card-body">
    <div class="cart-row">
      <span class="cart-item cart-header cart-column">ITEM</span>
      <span class="cart-price cart-header cart-column">PRICE</span>
      <span class="cart-quantity cart-header cart-column">QUANTITY</span>
    </div>
    <div class="cart-items">
      {{!-- put if statement for cart items here --}}
    </div>
  </div>

</div>
</div> --}}
{{!-- <div class="container col-12 col-md-3">
  <div class="card summary-card">
    <div class="cart-header card-header">
      <p>Order Summary</p>
    </div>
    <div class="grandtotal-after d-flex">
      <p>Grand Total</p>
      <p class="cart-gt-after ms-auto">0</p>
    </div>
  </div>
</div>
</div> --}}