<div class="admin-padding">
    <div class="col py-3">
        <div class="card" style="width: 60%; margin:0 auto;">
            <form method="POST" class="form" action="">
                <h1 class="display-4">Add Voucher</h1><span id="datetime"></span>
                <div class="form-group col py-3">
                    <label for="name">Voucher Name</label>
                    <input type="text" name="name" id="name" class="form-control">
                </div>
                <div class="form-group col py-3">
                    <label for="description">Voucher Description</label>
                    <textarea name="description" id="description" cols="30" rows="10" class="form-control"
                        required></textarea>
                </div>
                <div class="form-group col py-3" id="">
                    <label for="voucher_code">Discount Code</label>
                    <input type="text" name="voucher_code" id="voucher_code" class="form-control" required>
                </div>
                <div class="form-group col py-3" id="">
                    <label for="spools_needed">Spools Needed</label>
                    <input type="number" name="spools_needed" id="spools_needed" class="form-control" required>
                </div>
                <div class="form-group col py-3" id="">
                    <label for="discount_amount">Discount Amount (%)</label>
                    <input type="number" name="discount_amount" id="discount_amount" class="form-control" required>
                </div>
                <div class="form-group col py-3" id="">
                    <label for="quantity">Quantity</label>
                    <input type="number" name="quantity" id="quantity" class="form-control" required>
                </div>
                <div class="form-group col py-3" id="">
                    <label for="expiry_date">Expiry Date</label>
                    <input type="date" name="expiry_date" id="expiry_date" class="form-control" required>
                </div>
                <input type="submit" value="Add Voucher" class="blue-btn col py-3" />
            </form>
        </div>
    </div>
</div>

<script>
    const fileInput = document.getElementById('file-input');
    const previewContainer = document.getElementById('imagePreview');
    const previewImage = previewContainer.querySelector('.image-preview__image');
    const previewDefaultText = previewContainer.querySelector('.image-preview__default-text');

    fileInput.addEventListener('change', function () {
        const file = this.files[0]

        if (file) {
            const reader = new FileReader();

            previewDefaultText.style.display = "none";
            previewImage.style.display = "block";

            reader.addEventListener('load', function () {
                console.log(this)
                previewImage.setAttribute('src', this.result);
            })

            reader.readAsDataURL(file);
        } else {
            previewDefaultText.style.display = null;
            previewImage.style.display = null;
            previewImage.setAttribute('src', '');
        }
    });
</script>