:root{
    --nav-width: 250px;
}

body {
  align-items: center;
  background-color: #f2f2f2;
  margin: 0;
  
}

.blockcontent {
    padding-left: 25px;
}

.HeaderContent {
    margin: 20px auto 20px auto;
}

#TransferModalContainer {
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right, rgb(140, 156, 247), rgb(93, 109, 201));
  /* background-color: rgb(113, 132, 238) !important;  */
  padding: 0 !important;
  width: 100%;
  margin: auto !important;
  border-radius: 15px !important;
  overflow: hidden !important;
}

#TransferModalContainer:hover {
    background-image: linear-gradient(to right, rgb(152, 166, 243), rgb(104, 121, 214));
    transition: 0.5s ease-in-out;
  }

#ShoppingModalContainer {
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to right, rgb(247, 192, 140), rgb(228, 139, 80));
    /* background-color: rgb(113, 132, 238) !important;  */
    padding: 0 !important;
    width: 100%;
    margin: auto !important;
    border-radius: 15px !important;
    overflow: hidden !important;
}

#ShoppingModalContainer:hover {
    background-image: linear-gradient(to right, rgb(250, 207, 166), rgb(233, 153, 101));
    transition: 0.5s ease-in-out;
}

#ProfileModalContainer {
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to right, rgb(183, 163, 228), rgb(169, 97, 228));
    /* background-color: rgb(113, 132, 238) !important;  */
    padding: 0 !important;
    width: 100%;
    margin: auto !important;
    border-radius: 15px !important;
    overflow: hidden !important;
}

  
#ProfileModalContainer:hover {
    background-image: linear-gradient(to right, rgb(194, 178, 230), rgb(189, 131, 236));
    transition: 0.5s ease-in-out;
}

#DashboardModalContainer {
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to right, rgb(221, 221, 221), rgb(173, 173, 173));
    /* background-color: rgb(113, 132, 238) !important;  */
    padding: 0 !important;
    width: 100%;
    margin: auto !important;
    border-radius: 15px !important;
    overflow: hidden !important;
  }
  
  #DashboardModalContainer:hover {
      background-image: linear-gradient(to right, rgb(247, 247, 247), rgb(212, 212, 212));
      transition: 0.5s ease-in-out;
    }

#TransferButton {
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to right, rgb(140, 156, 247), rgb(93, 109, 201));
    /* background-color: rgb(113, 132, 238) !important;  */
    padding: 0 !important;
    width: 50%;
    margin: 20px auto 40px auto !important;
    border-radius: 15px !important;
    overflow: hidden !important;
  }
  
#TransferButton:hover {
    background-image: linear-gradient(to right, rgb(152, 166, 243), rgb(104, 121, 214));
    transition: 0.5s ease-in-out;
  }

#DepositButton {
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to right, rgb(149, 247, 140), rgb(80, 192, 86));
    /* background-color: rgb(113, 132, 238) !important;  */
    padding: 0 !important;
    width: 50%;
    margin: auto!important;
    border-radius: 15px !important;
    overflow: hidden !important;
  }
  
#DepositButton:hover {
    background-image: linear-gradient(to right, rgb(181, 243, 176), rgb(120, 211, 124));
    transition: 0.5s ease-in-out;
  }

.TransferModalContainer__Button {
    display: flex;
    position: relative;
    height: 250px;
    width: 100%;
    justify-content: left !important;
    text-decoration: none;
}

#TransferContainerWord {
    color: rgb(111, 90, 187);
}

#ShoppingContainerWord {
    color: rgb(199, 131, 91);
}

#ProfilerContainerWord {
    color: rgb(84, 62, 165);
}

#DashboardContainerWord {
    color: rgb(87, 87, 87);
}

#TransferWord {
    color: rgb(111, 90, 187);
}

#DepositWord {
    color: rgb(70, 145, 70);
}

.ContainerWord {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: auto 0 auto 50px;
    top: 20px;
}

.TransferModalContainer__Button:hover > #TransferContainerWord {
    color: rgb(14, 4, 44);
    transition: 0.5s ease-in-out;
}

.TransferModalContainer__Button:hover > #TransferWord {
    color: rgb(14, 13, 66);
    transition: 0.5s ease-in-out;
}

.TransferModalContainer__Button:hover > #DepositWord {
    color: rgb(21, 83, 35);
    transition: 0.5s ease-in-out;
}

.TransferModalContainer__Button:hover > #ShoppingContainerWord {
    color: rgb(88, 70, 16);
    transition: 0.5s ease-in-out;
}

.TransferModalContainer__Button:hover > #DashboardContainerWord {
    color: rgb(46, 46, 46);
    transition: 0.5s ease-in-out;
}

a:link {
    text-decoration: none !important;
}

.InnerButtonContainer {
  position: absolute;
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  right: -100px;
  top: 100px;
  width: 400px;
}

.InnerButtonContainer:hover {
  transform: scale(0.5);
  opacity: 1;
}

.TransferModalContainer__Button:hover > .InnerButtonContainer {
  transform: scale(0.5);
  opacity: 1;
}

.TransferModalContainer__Button:hover .img1 {
    opacity: 0.3;
    transition: 1s ease-in-out;
}
.TransferModalContainer__Button:hover .img2 {
    opacity: 0.3;
    transition: 1s ease-in-out;
}
.TransferModalContainer__Button:hover .img3 {
    opacity: 0.3;
    transition: 1s ease-in-out;
}

.TransferModalContainer__Button:hover .img4 {
    opacity: 0.3;
    transition: 1s ease-in-out;
}


.TransferModalContainer__inner {
  clip-path: path(
    "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
  );
  position: relative;
  top: -400px;
  left: 20px;

}

.InnerButtonContainer:hover .img {
  transform: translateY(0) scale(0.5);
  opacity: 1;
}

.img1 {
  left: 22px;
  top: 250px;
  opacity: 0.1;
}
.img2 {
    left: 22px;
    top: 250px;
    opacity: 0.1;
}
  
.img3 {
    left: 22px;
    top: 250px;
    opacity: 0.1;
}

.img4 {
    left: 22px;
    top: 250px;
    opacity: 0.1;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.35rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .badge {
      transition: none;
    }
  }
  
  a.badge:hover, a.badge:focus {
    text-decoration: none;
  }
  
  .badge:empty {
    display: none;
  }
  
  .btn .badge {
    position: relative;
    top: -1px;
  }
  
  .badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
  }
  
  .badge-primary {
    color: #fff;
    background-color: #4e73df;
  }
  
  a.badge-primary:hover, a.badge-primary:focus {
    color: #fff;
    background-color: #2653d4;
  }
  
  a.badge-primary:focus, a.badge-primary.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.5);
  }
  
  .badge-secondary {
    color: #fff;
    background-color: #858796;
  }
  
  a.badge-secondary:hover, a.badge-secondary:focus {
    color: #fff;
    background-color: #6b6d7d;
  }
  
  a.badge-secondary:focus, a.badge-secondary.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(133, 135, 150, 0.5);
  }
  
  .badge-success {
    color: #fff;
    background-color: #1cc88a;
  }
  
  a.badge-success:hover, a.badge-success:focus {
    color: #fff;
    background-color: #169b6b;
  }
  
  a.badge-success:focus, a.badge-success.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(28, 200, 138, 0.5);
  }
  
  .badge-info {
    color: #fff;
    background-color: #36b9cc;
  }
  
  a.badge-info:hover, a.badge-info:focus {
    color: #fff;
    background-color: #2a96a5;
  }
  
  a.badge-info:focus, a.badge-info.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(54, 185, 204, 0.5);
  }
  
  .badge-warning {
    color: #fff;
    background-color: #f6c23e;
  }
  
  a.badge-warning:hover, a.badge-warning:focus {
    color: #fff;
    background-color: #f4b30d;
  }
  
  a.badge-warning:focus, a.badge-warning.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(246, 194, 62, 0.5);
  }
  
  .badge-danger {
    color: #fff;
    background-color: #e74a3b;
  }
  
  a.badge-danger:hover, a.badge-danger:focus {
    color: #fff;
    background-color: #d52a1a;
  }
  
  a.badge-danger:focus, a.badge-danger.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(231, 74, 59, 0.5);
  }
  
  .badge-light {
    color: #3a3b45;
    background-color: #f8f9fc;
  }
  
  a.badge-light:hover, a.badge-light:focus {
    color: #3a3b45;
    background-color: #d4daed;
  }
  
  a.badge-light:focus, a.badge-light.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 252, 0.5);
  }
  
  .badge-dark {
    color: #fff;
    background-color: #5a5c69;
  }
  
  a.badge-dark:hover, a.badge-dark:focus {
    color: #fff;
    background-color: #42444e;
  }
  
  a.badge-dark:focus, a.badge-dark.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(90, 92, 105, 0.5);
  }
/* 
#TransferModalContainer {
    background-color: rgb(113, 132, 238) !important; 
    padding: 0 !important;
    width: 100%;
    margin: auto !important;
    border-radius: 15px !important;
    
}

.TransferModalContainer__Button {
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.TransferModalContainer__Button:hover > .geometricshape{
    transform: scale(1.2);
}

.TransferModalContainer__inner {
    position: relative;
}

.geometricshape {
    z-index: 0;
    position: absolute;
    overflow: hidden;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 250px solid transparent;
    border-right: 25px solid rgb(32, 27, 75);
    border-bottom: 50px solid rgb(32, 27, 75);
}

.img1 {
    overflow: hidden;
    pointer-events: none;
    position: relative;
    transform: translateY(20px) scale(1.15);
    transform-origin: 50% bottom;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 150px;
    height: 150px;
} */