#product_card {
    padding-bottom: 40px;
    padding-top: 40px;
}

#banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card {
    border-radius: 12px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    padding-bottom:0;
  
  }

.card:hover {
    border-radius: 12px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.454);
  }
  
.card-button {
  align-items: center;
  display: inline-block;
  width: 100%;
  position: absolute;
  max-height:100%;
  overflow: auto;
  padding-left:60px;
  bottom: 0;
  transform: translateY(101%);
  transition: transform 0.2s ease-in;
}

.card:hover .card-button {
  transform: translateY(-120%);
}

.content {
  padding-top: 2rem;
}

.content p {
  font-size: 1.2em;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  height:100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.img .overlay {
  opacity : 1;
}

/* .show-item {
  text-align: center;
  background-color: #fff;
  border: 0.5px solid ;
  color: black;
} */

.show-item {
  min-width: 50%;
  text-align: center;
  background: #aCbEd0;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

.show-item:hover,
.show-item:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #aCbEd0;
}

@media (min-width: 992px) {
  .modal-lg {
      width: 960px;
  }
}

.price {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 20px;
}
  
.modal .modal-content {
  padding: 20px 20px 20px 20px;
  -webkit-animation-name: modal-animation;
  -webkit-animation-duration: 0.5s;
  animation-name: modal-animation;
  animation-duration: 0.5s;
}
  
@-webkit-keyframes modal-animation {
  from {
      top: -100px;
      opacity: 0;
  }
  to {
      top: 0px;
      opacity: 1;
  }
}
  
@keyframes modal-animation {
  from {
      top: -100px;
      opacity: 0;
  }
  to {
      top: 0px;
      opacity: 1;
  }
}
.modal-info {
  justify-content: center;
  align-items: center;
}

.product-card {
  max-width: 65rem;
  justify-content: center;
}

.bx-heart {
  font-size: 1.5em;
}

.bxs-star {
  color:orange;
}

.bxs-star-half {
  color:orange;
}

.totalreviews {
  font-size:0.8rem;
  text-align:right;
}

.review {
  padding-top: 30px;
}

.modal-footer {
  border-top: 0 none;
  justify-content: center;
}

.to-reviews {
  cursor: pointer;
  justify-content: right;
  text-decoration: underline;
}

.x-button {
  position: absolute;
  right: 5px;
  top:5px;
  padding: 10px;
}

.shop-item-button {
  background-color:black;
  border:none;
  width: 200px;
  height: 50px;
  padding-right: 20px;
}

.shop-item-button:hover {
  background-color: rgb(94, 92, 92);
}

.wrapper {
  height: 100vh;
  position: relative;
}

.product-scard {
  max-width: 65rem;
  position: relative;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -2rem 2rem 3.2rem rgba(0, 0, 0, 0.2);
}

.product-left {
  height: 100%;
  width: 70%;
  padding: 4rem 2rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  background: rgb(207, 255, 255);
  color: rgb(0, 0, 0);
}

.product-right {
  background: #fff;
  height: auto;
  width: 100%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-right img {
  height: 30rem;
}

.header h1 {
  text-transform: uppercase;
  margin: 2rem 0;
   font-size: 2.5rem;
}

/* Price */

.header h2 {
  margin: 0rem 0 2rem 0;
  font-weight: 300;
  }

/* Product Description */

.product-main p {
  opacity: 0.5;
  margin: 2rem 0;
  line-height: 1.45;
}

.focus {
  text-transform: uppercase;
  margin: 0 0 1rem 0;
  padding: 0 0 0.9rem 0;
  border-bottom: 0.2rem solid rgba(250, 250, 250, 0.3);
}

.focus span:last-child {
  margin: 0 0 0 1rem;
  width: 100%;
}

.focus span:first-child {
  border-bottom: 0.2rem solid #fff;
  padding: 0 0 0.9rem 0;
}

/* Choose color / quantity  */

.btns-group {
  width: 100%;
  margin: 0 0 2rem 0;
}

/* Total Price  */

.product-total {
  margin: 0 0 2rem 0;
}

.product-total p {
  font-weight: 700;
  font-size: 2rem;
  opacity: 0.5;
}

.product-total h3{
  margin: 0 0 1rem 0;
}


/* Add to cart button  */

.product-add {
  border: 1px solid #fff;
  width: 100%;
  padding: 1.5rem;
  border-radius: 5rem;
  transition: all 0.5s ease-out;
}

.product-add:hover {
  background-color: #fff;
  color: #2e282a;
}

.product-btns a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-btn {
  width:100%;
  background: #000000;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  bottom: 0;
}

.dark-btn:hover,
.dark-btn:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #000000;
}

.btttn {
  padding-top:75px;
}