*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{ 
    background: rgb(219, 226, 226);
}

.row{
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px grey;
}

img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}

.btn {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: rgb(95, 153, 207);
    color: white;
    border-radius: 4px;
    font-weight: bold;

}

.btn:hover{
    background: white;
    border: 1px solid;
    color: rgb(99, 189, 184);

}