.card {
    border-radius:20px;
}

h1 {
    padding-left: 20px;
}

.action-button-fixed {
    min-width: 100%;
    background: #aCbEd0;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

.action-button-fixed:hover,
.action-button-fixed:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #aCbEd0;
}

.bg {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #f3fbfb;
    margin: 0 auto;
    width: 50%;
    padding: 1rem 1rem;
    border-radius: 30px;
}