.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 32px 55px -23px rgba(162, 172, 203, 1);
    font-weight: 400;
    font-size: 62.5%;
    width: 98%;
    line-height: 1.7;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-card {
    padding-right: 20px;
}

.title {
    font-size: 2.4rem;
    text-align: center;
    margin: 2rem 0;
}

.out-of {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #f3fbfb;
    margin: 0 auto;
    width: 20rem;
    padding: 1rem 1rem;
    border-radius: 30px;
}

.out-of .stars {
    font-size: 1.4rem;
    color: #fccc4d;
}

.out-of span {
    font-size: 1.4rem;
}

.total-reviews {
    text-align: center;
    font-size: 1.4rem;
    margin: 1rem 0;
}

.ratings {
    width: 27rem;
    margin: 2rem auto;
    font-size: 1.4rem;
}

.ratings .star-number {
    padding-right: 1rem;
    flex: 1;
}

.ratings .percent {
    padding-left: 1rem;
    flex: 1;
}

.ratings .rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ratings .rating:not(:last-of-type) {
    margin-bottom: 1rem;
}

.ratings .rating-bar {
    background: #f3fbfb;
    position: relative;
    flex: 4;
    height: 1.25rem;
    border-radius: 30px;
}

.bar {
    background: #fccc4d;
    height: 1.25rem;
    width: 50%;
    border-radius: 30px;
    box-shadow: 5px 5px 15px 3px rgba(252, 204, 77, 0.45);
}

.testimonial-box {
    width: 100%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span {
    color: #979797;
    font-size: 0.8rem;
}

.reviews {
    color: #f9d71c;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p {
    font-size: 0.9rem;
    color: #4b4b4b;
}

.testimonial-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

@media(max-width:1060px) {
    .testimonial-box {
        width: 45%;
        padding: 10px;
    }
}

@media(max-width:790px) {
    .testimonial-box {
        width: 100%;
    }

    .testimonial-heading h1 {
        font-size: 1.4rem;
    }
}

@media(max-width:340px) {
    .box-top {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .reviews {
        margin-top: 10px;
    }
}

::selection {
    color: #ffffff;
    background-color: #252525;
}

.modal-info {
    justify-content: center;
    align-items: center;
}

.bx-heart {
    font-size: 1.5em;
}

.bxs-star {
    color: orange;
}

.bxs-star-half {
    color: orange;
}

.totalreviews {
    font-size: 0.8rem;
    text-align: right;
}

.review {
    padding-top: 30px;
}

.modal-footer {
    border-top: 0 none;
    justify-content: center;
}

.to-reviews {
    cursor: pointer;
    justify-content: right;
    text-decoration: underline;
}

.x-button {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 10px;
}

.shop-item-button {
    background-color: black;
    border: none;
    width: 200px;
    height: 50px;
    padding-right: 20px;
}

.shop-item-button:hover {
    background-color: rgb(94, 92, 92);
}