@import url('http://fonts.cdnfonts.com/css/rock-salt');
.card {
    margin-top:77.5px;
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
    padding-left: 10px;
}

.total,
.shipping,
.grandtotal {
    padding-left: 10px;
}
.cancel {
    width: 100px;
    background: #2098ce;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

.cancel:hover, .cancel:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #2098ce;
}