<link rel="stylesheet" href="css/services.css">

<div>
    <h2>Appointment</h2>
</div>
<hr>
<div class="row">
    <div class="col-12">
        <label for="basic-url" class="form-label fs-3">Details</label>
        <button class="btn btn-primary float-end"><i class="bi bi-pencil"></i></button>
    </div>
    <div class="mb-3 col-4">
        <label for="exampleFormControlInput1" class="form-label">First Name</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" value="John" readonly>
    </div>
    <div class="mb-3 col-4">
        <label for="exampleFormControlInput1" class="form-label">Last Name</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" value="Doe" readonly>
    </div>
    <div class="mb-3 col-4">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" value="name@example.com" readonly>
    </div>
</div>
<div class="row">
    <div class="mb-3 col-3">
        <label for="select1" class="form-label">Service</label>
        <select class="form-select form-control" aria-label="Default select example" id="select1" readonly>
            <option selected>Alteration</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="mb-3 col-3">
        <label for="select1" class="form-label">Type</label>
        <select class="form-select form-control" aria-label="Default select example" id="select1" readonly>
            <option selected>Taper</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="mb-3 col-3">
        <label for="select1" class="form-label">Tailor</label>
        <select class="form-select form-control" aria-label="Default select example" id="select1" readonly>
            <option selected>Any</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="mb-3 col-3">
        <label for="exampleFormControlInput1" class="form-label">Date & time</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" value="05/05/2022, 1200" readonly>
    </div>
</div>
<div class="row">
    <div class="mb-3 col-12">
        <span class="">Please write a brief description of your request</span>
        <textarea class="form-control" aria-label="With textarea" readonly>I would like to get a taper</textarea>
    </div>
</div>
<div class="row">
    <label for="basic-url" class="form-label fs-3">Pick Up/Deliver</label>
    <div class="mb-3 col-3">
        <label for="select1" class="form-label">Mode</label>
        <select class="form-select form-control" aria-label="Default select example" id="select1">
            <option selected>Pick up</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="mb-3 col-3">
        <label for="select1" class="form-label">Location</label>
        <select class="form-select form-control" aria-label="Default select example" id="select1">
            <option selected>Store 1</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    
</div>
<div class="row">
    
    <div class="mb-3 col-3">
        <label for="exampleFormControlInput1" class="form-label">Date & time</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" value="11/05/2022, 1200">
        <img src="https://docs.microsoft.com/en-us/windows/apps/design/controls/images/controls-calendar-monthview.png" alt="">
    </div>
</div>
<div>
    <button class="btn btn-primary">Submit</button>
</div>

