<link rel="stylesheet" href="css/services.css">
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
<script src="scripts/data-tables.js" type="text/javascript"></script>

<h2>My Requests</h2>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Pending</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Completed</button>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <table id="appt-table" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Request_ID</th>
                <th scope="col">Completed On</th>
                <th scope="col">Type</th>
                <th scope="col">Details</th>
                <th scope="col">Tailor</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">A_02</th>
                <th>6/05/2022</th>
                <td>Alterations</td>
                <td><a href="" type="button" data-bs-toggle="modal" data-bs-target="#myModal">View Request </a></td>
                <td>Yue Ming</td>
                <td>Pending completion</td>

            </tr>
            <tr>
                <th scope="row">A_01</th>
                <th>6/05/2022</th>
                <td>Alterations</td>
                <td><a href="" type="button" data-bs-toggle="modal" data-bs-target="#myModal">View Request</a></td>
                <td>Yue Ming</td>
                <td>Completed - Set to <a href="" type="button" data-bs-toggle="modal" data-bs-target="#myModal1">Delivery </a></td>
            </tr>
            <tr>
                <th scope="row">A_00</th>
                <th>8/05/2022</th>
                <td>Alterations</td>
                <td><a href="" type="button" data-bs-toggle="modal" data-bs-target="#myModal">View Request</a></td>
                <td>Yue Ming</td>
                <td>Completed - <a href="">Set a delivery mode and date</a></td>
            </tr>
            

        </tbody>
    </table>
  </div>
  <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <table id="uappt-table" class="table table-hover">
      <thead>
          <tr>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
              <th scope="col">Type</th>
              <th scope="col">Request</th>
              <th scope="col">Tailor</th>
              <th scope="col"></th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <th scope="row">7/05/2022</th>
              <th>1200</th>
              <td>Tailor</td>
              <td><a href="">View Details</a></td>
              <td>Mike Oxlong</td>
              <td><a href="" class="btn btn-primary" role="button"><i class="bi bi-pencil"></i></a></td>

          </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">...</div>
  <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">...</div>
</div>
<div class="modal" tabindex="-1" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Request Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
            <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvea0VYV4hLEq1ZhUgB886VAUT5ugRHL2QVA&usqp=CAU" alt="">
        </div>
        <div class="row">
            <div class="mb-3 col-12">
                <span class="">Request Details</span>
                <textarea class="form-control" aria-label="With textarea" readonly>Pants length shortened by 3cm. Taper of 1 inch</textarea>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="myModal1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delivery Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p>

            Tracking Number: Delivery_9301823
          </p>
          <p>

            Deliver to: 123 Haji Lane 727127
          </p>
          <p>

            Time: 2-4pm
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
