<link rel="stylesheet" href="../styles/services.css">

<div>
    <h2>Create a Request</h2>
</div>
<hr>
<form method="post">
    {{!-- <div class="row">
        <div class="mb-3 col-3">
            <label for="fName" class="form-label">First Name</label>
            <input type="text" class="form-control" name="fName">
        </div>
        <div class="mb-3 col-3">
            <label for="lName" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="lName">
        </div>
        <div class="mb-3 col-6">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" placeholder="name@example.com">
        </div>
    </div> --}}
    <label for="basic-url" class="form-label fs-3">Request details</label>
    <div class="row">
        <div class="mb-3 col-6">
            <label for="title" class="form-label">Request Title</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="mb-3 col-6">
            <label for="service" class="form-label">Service</label>
            <select class="form-select" aria-label="Default select example" name="service">
                <option selected>Select Service</option>
                {{>options object=services}}
            </select>
        </div>
        {{!-- <div class="mb-3 col-3">
            <label for="select1" class="form-label">Type</label>
            <select class="form-select" aria-label="Default select example" id="select1">
                <option selected>Select Type</option>
                <option value="1"></option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div> --}}
    </div>
    <div class="row">
        <div class="mb-3 col-12">
            <span class="">Please write a brief description of your request</span>
            <textarea name="description" class="form-control" aria-label="With textarea"></textarea>
        </div>
    </div>
    <div>
        <button type="submit" class="action-button-fixed">Submit</button>
    </div>
</form>